In [ ]:
#Q1. Design a Python function named `remove_duplicates` to remove duplicates from a list.

In [ ]:
def remove_duplicates(lst):
    return list(set(lst))

In [ ]:
print(remove_duplicates([1, 2, 3, 2, 4, 3, 5]))
print(remove_duplicates(['a', 'b', 'c', 'a', 'd', 'b']))

[1, 2, 3, 4, 5]
['a', 'd', 'b', 'c']

In [ ]:
#Q2.    Design a Python function named `flatten_list` to flatten a nested list into a single list.

In [ ]:
def flatten_list(nested_lst):
    new_list=[]
    for element in nested_lst:
        if isinstance(element,list):
            new_list.extend(flatten_list(element))
        else:
            new_list.append(element)
    return new_list

In [ ]:
print(flatten_list([[1, 2, 3], [4, 5], [6, 7, 8]]))
print(flatten_list([[1, 2], [3, [4, 5]], [6], [7, 8, [9, 10]]]))

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Q3.Design a Python function named `split_even_odd` to split a list into two lists containing even and odd elements respectively.    Returns:Tuple containing two lists - one with even elements and one with odd elements (tuple)

In [ ]:
def split_even_odd(lst):
    even_list=[]
    odd_list=[]
    for element in lst:
        if element%2==0:
            even_list.append(element)
        else:
            odd_list.append(element)
    return even_list,odd_list

In [ ]:
print(split_even_odd([1, 2, 3, 4, 5, 6, 7, 8, 9, 10]))
print(split_even_odd([11, 22, 33, 44, 55, 66, 77, 88, 99, 100]))

([2, 4, 6, 8, 10], [1, 3, 5, 7, 9])
([22, 44, 66, 88, 100], [11, 33, 55, 77, 99])

In [ ]:
#Q4. Design a Python function named `rotate_list` to rotate a list to the right by k steps.

In [ ]:
def rotate_list(lst, k):
    k%=len(lst)
    return lst[-k:]+lst[:-k]

In [ ]:
print(rotate_list([1, 2, 3, 4, 5], 2))
print(rotate_list(['a', 'b', 'c', 'd', 'e'], 3))

[4, 5, 1, 2, 3]
['c', 'd', 'e', 'a', 'b']

In [ ]:
#Q5.Design a Python function named `merge_sorted_lists` to merge two sorted lists into a single sorted list.

In [ ]:
def merge_sorted_lists(lst1, lst2):
    new_list=[]
    i=0
    j=0
    while i<len(lst1) and j<len(lst2):
        if lst1[i]<lst2[j]:
            new_list.append(lst1[i])
            i+=1
        else:
            new_list.append(lst2[j])
            j+=1
    while i<len(lst1):
        new_list.append(lst1[i])
        i+=1
        #new_list.extend(lst1[i:])
    while j<len(lst2):
        new_list.append(lst2[j])
        j+=1
        #new_list.extend(lst2[j:])
    return new_list

In [ ]:
print(merge_sorted_lists([1, 3, 5], [2, 4, 6]))
print(merge_sorted_lists(['a', 'c', 'e'], ['b', 'd', 'f']))

[1, 2, 3, 4, 5, 6]
['a', 'b', 'c', 'd', 'e', 'f']

In [ ]:
#Q6.    Design a Python function named remove_consecutive_duplicates` to remove consecutive duplicates from a list.

In [ ]:
def remove_consecutive_duplicates(lst):
    new_list=[]
    new_list.append(lst[0])
    for i in range(1,len(lst)):
        if lst[i-1]!=lst[i]:
            new_list.append(lst[i])
    return new_list

In [ ]:
print(remove_consecutive_duplicates([1, 2, 2, 3, 3, 3, 4, 4, 4, 4]))
print(remove_consecutive_duplicates(['a', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'd', 'e', 'e']))

[1, 2, 3, 4]
['a', 'b', 'c', 'd', 'e']

In [ ]:
#Q7.Design a Python function named `shuffle_list` to shuffle the elements of a list.

In [ ]:
import random
def shuffle_list(lst):
    random.shuffle(lst)
    return lst

In [ ]:
print(shuffle_list([1, 2, 3, 4, 5]))
print(shuffle_list(['a', 'b', 'c', 'd', 'e']))

[3, 5, 4, 1, 2]
['b', 'd', 'e', 'c', 'a']

In [ ]:
#Q8.Design a Python function named `partition_list` to partition a list into sublists of a given size.

In [ ]:
def partition_list(lst, size):
    new_list=[]
    for i in range(0,len(lst),size):
        new_list.append(lst[i:i+size])
    return new_list

In [ ]:
print(partition_list([1, 2, 3, 4, 5, 6, 7, 8, 9], 3))
print(partition_list(['a', 'b', 'c', 'd', 'e', 'f', 'g'], 2))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[['a', 'b'], ['c', 'd'], ['e', 'f'], ['g']]

In [ ]:
#Q9.Design a Python function named `is_palindromic_list` to check if a list is palindromic (reads the same forwards and backwards)

In [ ]:
def is_palindromic_list(lst):
    return lst==lst[::-1]

In [ ]:
print(is_palindromic_list([1, 2, 3, 2, 1]))
print(is_palindromic_list(['a', 'b', 'c', 'b', 'a']))
print(is_palindromic_list([1, 2, 3, 4, 5]))
print(is_palindromic_list(['x', 'y', 'z', 'x']))
print(is_palindromic_list(['a']))

True
True
False
False
True

In [ ]:
#Q10.Design a Python function named remove_items_at_even_indices` to remove items at even indices from a list.

In [ ]:
def remove_items_at_even_indices(lst):
    new_lst=[]
    for i in range(1,len(lst),2):
        new_lst.append(lst[i])
    return new_lst

In [ ]:
print(remove_items_at_even_indices([1, 2, 3, 4, 5]))
print(remove_items_at_even_indices(['a', 'b', 'c', 'd', 'e', 'f']))

[2, 4]
['b', 'd', 'f']